#moi {
  text-align: right;
  color: white;
}

h1 { /* Source : https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero */
  text-align: center;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%. -50%);
}

body { /* Source : https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero */
  background-image: url("/images/meAfterHolmes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}
