#moi {
  text-align: right;
  color: white;
}

h1 { /* Source : https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero */
  text-align: center;
  color: white;
  font-size: 50px;
}

body { /* Source : https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero */
  background-image: url("/images/tomBom.jpg");
  background-repeat: no-repeat;
  background-cover: cover;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  position: relative;
}
