/* barre de navigation - Source : https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  background-color: #CBCBCB;
}

ul li {
  float: left;
  padding: 4px;
}

ul li a {
  display: block;
  text-decoration: none; /* élimine le sous-lignage du lien */
  color: white;
  text-align: center;
  padding: 16px;

}

ul li a:hover {
  background-color: darkgrey;
}

ul li a.active {
  background-color: #000000;
}
