#tab {
  margin: 0px auto; /* Source : https://stackoverflow.com/questions/14073188/center-align-a-html-table */
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

th {
  color: white;
}

td {
  color: white;
}
