h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: white;
  text-align: center;<
  font-size: 27px;
}

img { /* Source: https://www.w3schools.com/css/css3_image_center.asp */
  display: block;
  margin: auto;
  width: 50%;
}
