.frederick {
  /* fondamentaux */
  width: 300px;
  padding: 20px;
  margin: 20px auto;

  /* style visuel */
  background-color: #4a7a91;
  border-radius: 10px;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 75, 1);
  
  /* padding ne dépasse pas la boite*/
  box-sizing: border-box;
}

.frederick p {
  color: #e9edf0;
}

.nobuo {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 80px 1em 0 1em;
  margin: 0 100px;
  position: relative;
  background-color: #6b5738;
  border-radius: 100% 100% 0 0;
}
.nobuo::before,
.nobuo::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: #b57e26;
  border-radius: 100%;
}

.nobuo::before {
  width: 125px;
  height: 125px;
  left: -80px;
  border-bottom-right-radius: 0;
}

.nobuo::after {
  width:100px;
  height: 100px;
  right: -60px;
  border-bottom-left-radius: 0;
}
  
.piotr {
  padding: 1em;
  border: 0.3em solid darkred;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  
  display: flex;
  justify-content: center; /*centre horizontale*/
  align-items: center; /* centre verticale*/

}