h1, .poème {
  text-align: center;
  color: white;
  font-size: 50px;
}

body {
  background-image: url("/images/montagne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  text-align: center;
  color: white;
}

#poème {
  color: white;
}
